<footer class="site-footer">P&aacute;gina web del curso de <b>Sistemas Interactivos Ubicuos</b> de la <i>Pontificia Universidad Cat&oacute;lica de Chile</i></footer>
<style>
  

.side-bar {
    background-color: #efeaff;
}

@media (min-width: 50rem) {
    .side-bar {
        align-items: center;
    }
}

@media (min-width: 66.5rem) {
    .side-bar {
        width: 348px;
    }
}

@media (min-width: 66.5rem) {
    .side-bar+.main {
        margin-left: Max(23.5rem, calc((100% - 66.5rem) / 2 + 9.5rem));
    }
}

@media (min-width: 50rem) {
    .main {
        max-width: 70rem;
        font-size: 120%;
    }
}

@media (min-width: 50rem) {
    .main-content-wrap {
        padding-top: 4rem;

    }
}

.main-header {
    border-bottom: 0px solid #eeebee;
}

@media (min-width: 50rem) {
    .main-header {
        height: 3.75rem;
    }
}

@media (min-width: 50rem) {
    .site-header {
        height: 4.75rem;
        max-height: 4.75rem;
        border-bottom: 1px solid #eeebee;
        margin-top: 30px;
    }
}

@media (min-width: 50rem) {
    .site-title {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (min-width: 50rem) {
    .site-footer {
        padding-right: 1rem;
        padding-left: 1rem;
		margin-bottom: 1rem;
    }
}

@media (min-width: 31.25rem) {
    .nav-list .nav-list-item {
        font-size:1rem !important;
	}
}

@media (min-width: 50rem) {
    .nav-list .nav-list-item {
        font-size:.75rem !important
    }
}

@media (min-width: 50rem) and (min-width: 31.25rem) {
    .nav-list .nav-list-item {
        font-size: 1.175rem !important;
        margin: 0.4rem;
        margin-bottom: 0.4rem;
    }
}

.nav-list .nav-list-item .nav-list-link {
    padding-top: 0.55rem;
    padding-bottom: .55rem;
}

@media (min-width: 50rem) {
    .nav-list .nav-list-item .nav-list-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.nav-list .nav-list-item .nav-list-link:hover,.nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(45deg, white, transparent);
}


@media (min-width: 50rem) {
    .search {
        transition: none;
        margin-top: 1rem;
        padding: 1rem;
        padding-left: 2rem;
    }
}


@media (min-width: 50rem) {
    .search-input {
        padding: 0.5rem 1rem .5rem 3.5rem;
        transition: padding-left linear 200ms;
        border: 1px solid #aaa;
        border-radius: 20px;
    }
}

@media (min-width: 50rem) {
    .search-active .search-input {
        padding-left:2.3rem;
        border-radius: 0;
    }
}


</style>
